#navbar{
    background-color: #051444;
    min-height: 70px;
}
#navbar h1{
    color:white;
    margin:0;
    font-size: 32px;
    font-weight: 700;
}
#navbar nav{
    display: flex;
    justify-content: end;
    align-items: center;
}

#navbar a{
   
    color: white;
    font-size: large;
    font-weight: 500;
}
#navbar a:hover{
    color: cyan;

}
#navbar a.active{
    color: cyan;
}

#hero h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    
}
#hero strong{
    color: white;
    font-size: 18px;
    font-weight: normal;
    
}
#hero h2{
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
#hero p{
    font-size: 16px;
    line-height: 1.6;
    color:gray;
    max-width: 550px;

}
#hero-right{
     display: flex;
    justify-content: end;
}
#hero-right img{
    width: 350px;
    height: auto;
    width: 300px;
   
}
#hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    background-color:#0e0e81 ;
    padding-inline: 60px 0;
}
#hero .row {
    align-items: center;
}
#hero .btn-primary{
    background-color: #0e0e81;
    border: 1px solid #0e0e81;
    padding: 10px 24px;
    font-weight: 600;
}