body{
    padding-top: 70px;
    background-color: #051444 ;
}
#navbar{
    background-color: #051444;
    min-height: 70px;
}
#navbar .navbar{
    background-color: rgba(0, 0,0, 0.6);
    backdrop-filter: blur(6px);
    width: 100%;
    z-index: 1000;
}

#navbar nav{
    display: flex;
    justify-content: end;
    align-items: center;
}

#navbar a{
   
    color: white;
    font-size: large;
    font-weight: 500;
}
#navbar a:hover{
    color: cyan;

}
#navbar a.active{
    color: cyan;
}
#hero .d-flex{
    
    align-items: center;
    gap: 15px;
}
#hero h1{
   
    color: white;
    font-size: 50px;
    font-weight: bold;
    
}
#hero strong{
    
    color: white;
    font-size: 18px;
    font-weight: normal;
    
}
#hero h2{
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
#hero p{
    font-size: 16px;
    line-height: 1.6;
    color:gray;
    max-width: 550px;

}
#hero-right{
     display: flex;
    justify-content: end;
}
#hero-right img{
    height: 300px;
    width: 300px;
    border: 2px solid blue;
    box-shadow: 0 0 20px blue;
    border-radius: 300px;
   
}
#hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    background-color:#0e0e81 ;
   
}
#hero .row {
    align-items: center;
}
#hero .btn-primary{
    background-color: #051444;
    border: 1px solid #0e0e81;
    padding: 10px 24px;
    font-weight: 600;
    transition: 0.4s;
}
#hero .btn-primary:hover{
    border: 1px solid cyan;
  
    color: white;
    transform: translateY(-4px);

}
#hero .btn-outline-primary{
    background-color: navy;
    color: white;
    border: 1px solid white;
    padding: 10px 24px;
    font-weight: 600;
    transition: 0.4s;
}
#hero .btn-outline-primary:hover{
    background-color: cyan;
    color: #051444;
    transform: translateY(-4px);

}
#hero .social-icons button{
    background:none;
    border: 1px solid white;
    color: white;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transition: 0.4s;
    
}
#hero .social-icons button:hover{
    transform:translateY(-4px);
    border: 1px solid cyan;
    
    color: cyan;
    box-shadow:0 0 10px cyan;
}
#hero .social-icons{
    display: flex;
    align-items: center;
    margin-top: 10px;
 
    gap: 20px;
}
/* skils======================================== */

#skills {
    background-color: #051444;
    padding-top: 70px;
    padding-bottom: 70px;
}


#skills .heading{
    display: flex;
   
    justify-content: center;
    align-items: center;
      gap: 10px;
    
}
#skills .heading h1{
    color: white;
    font-size: 50px;
}
#skills .heading strong{
    color: cyan;
    font-size: 50px;
}
#skills p{
    text-align: center;
    color: gray;
}
#skills .card{
    background-color: #030d2d;
    border: 1px solid #010921;
    border-radius: 10px;
    padding: 20px;

}
#skills .card-header{
    color: white;
    background-color: #051444;
    border-bottom: 1px solid #010921;
    font-weight: bold;


}
#skills .container span{
    background-color: black;
    display: inline-flex;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    transition: 0.4s;
    gap:5px;
    align-items: center;

}
#skills .container span:hover{
   
    transform: translateY(-3px);
    
}
#skills .more_skills{
    padding: 40px;
    

}
#skills .more_skills .header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#skills .more_skills .body span{
    width: 100px;
    padding: 20px;
    margin: 5px 10px;
    background-color: cyan;
 

}
/* project ===================================== */
#project {
  background-color: #050f30;
  padding-top: 70px;
  padding-bottom: 70px;
}

#project .card {
  background-color: #1a2035;
  border-radius: 8px;
  transition: 0.4s;
}

#project .card-header {
  height: 200px;
  background-color: rgb(16, 168, 100);
}

#project .card:hover {
  transform: translateY(-5px);
}

#project .project-title {
  font-weight: bold;
  font-size: large;
  color: white;
}

#project .project-date {
  font-size: 10px;
  background-color: rgba(173, 216, 230, 0.6);
  color: #2b3574;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
}

#project .card-body p {
  padding: 10px;
  color: gray;
  font-size: 15px;
  line-height: 1.6;
}

#project .card-body .highlight span {
  display: inline-block;
  background-color: rgb(50, 50, 57);
  padding: 10px;
  color: white;
  border-radius: 20px;
  margin-left: 7px;
  text-align: center;
}

#project .card-footer button {
  background-color: rgb(50, 50, 57);
  color: white;
  border-radius: 10px;
  padding-inline: 100px;
}

#project .card-footer button:hover {
  background-color: rgba(86, 102, 107, 0.6);
}
/* res_edu============================== */
#res_edu .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#res_edu .header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#res_edu .header span:first-child {
    color: white;
}

#res_edu .header span:last-child {
    color: cyan;
}

#res_edu .header p {
    text-align: center;
    color: gray;
}

#res_edu .header > div{
    display: flex;
    gap: 15px;
}

#res_edu .header button{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    transition: 0.4s;
}
#res_edu .header button:hover{
    transform: translateY(-5px);
}

#res_edu .card{
    margin: 20px;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
}
#res_edu .card{
    background-color: #1a2035;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}
#res_edu .card-header{
    color: blue;
}
#res_edu .card-body{
     display: flex;
    gap: 20px;
    color: white;
    padding: 15px;
}

#res_edu .card-body span{
   display: inline-flex;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    background-color: black;
}
#res_edu .card-footer{
    color: gray;
    
}
#res_edu .education > .d-flex{
   background-color:#1a2035 ;
   border-radius: 10px;
   padding: 10px;

}
#res_edu .education > .d-flex> span{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#res_edu .education > .d-flex .btn{
    background-color: #051444;
    color: white;
    background: pink;
    border-radius: 8px;
    padding: 8px 15px;
    transition: 0.3s;
   
}
#res_edu .education > .d-flex .btn:hover{
    background-color: cyan;
    color: #051444;
}
